@media print {
    @page {
        margin: 0;
    }
    body {
        margin-top: 1cm;
        margin-left: 0cm;
        margin-right: 0cm;
        -webkit-print-color-adjust: exact;
    }
    tr {
        background-color: #d5ffc3 !important;
    }
    #skills-languages h3 {
        font-size: 130%;
    }
    /* as per
 * https://stackoverflow.com/questions/44284361/bootstrap-progress-bar-is-not-shown-in-print-preview
 */
    .progress {
        position: relative;
    }
    .progress:before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        border-bottom: 2rem solid #eeeeee;
    }
    .progress-bar {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        border-bottom: 2rem solid #980004;
        background-color: black;
    }
    div.job>h4,
    div.job>h5 {
        margin-block-end: initial;
    }
    div.job>h4 {
        margin-top: 5px;
    }
}


/* @media print */


/* ------------------------------------------------------------- */

div.education>h4,
div.education>h5 {
    margin-block-end: initial;
}

div.education>h4 {
    margin-top: 4px;
}


}
#details {
    align-items: right;
    justify-content: right;
    padding-right: 60px;
}
.col-2 chronologie italic {
    f ont-style: italic;
}
body {
    font-family: 'Raleway', sans-serif;
    padding-top: 13px;
}
h1 {
    font-size: 27px;
    margin: 0;
}
h2 {
    font-size: 26px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}
h3 {
    color: rgb(58, 56, 63);
    text-align: center;
}
h3.title {
    color: #980004;
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
h3.title3 {
    color: #980004;
    font-weight: 600;
    font-size: 23px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 25px;
}
hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    height: 15px;
    margin-bottom: 2px;
}
h4,
.company {
    font-size: 20px;
    font-weight: bold;
}
div.education>h4,
div.education>h5 {
    margin-block-end: initial;
}
div.education>h4 {
    margin-top: 4px;
}
.der {
    margin-bottom: 25px;
}
.ed {
    margin-bottom: 15px;
}
h5,
.function,
.other {
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    color: #323232;
    margin-top: 2px;
    padding-bottom: 5px;
}
.minus::before {
    content: ' - '
}
.minus2::before {
    content: ' -- '
}
#details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 60px;
}
.date-work {
    font-size: 20px;
    font-weight: 500;
    padding-top: 4px;
}
.date {
    font-size: 20px;
    font-weight: 500;
}
.period {
    font-size: 15px;
    font-style: italic;
    font-weight: lighter;
}
h6 {
    font-size: 13px;
}
p {
    line-height: 1.2;
    font-size: 14px;
}
.list-group>li.list-group-item {
    font-size: 115%;
}
.alert.alert-secondary {
    padding: 6px;
    border-radius: 20px;
    font-size: 20px;
    /*   text-align:center;
    font-size: 20px;
    font-weight: bold;
    margin:0;
    margin-bottom:5px;
    border-radius: 15px;*/
}
.alert.alert-secondary>h3 {
    margin-bottom: 0px;
    font-size: 22px;
}
.smaller-shiftright {
    font-size: 14px;
    text-indent: 10px;
}
ul {
    border-right: 1px;
    border-right-color: grey;
}
.name {
    font-weight: 500;
    font-size: 30px;
    padding-left: 40px;
}
.col-2 chronologie italic {
    font-style: italic;
}
.chronologie {
    text-align: right;
    font-style: oblique;
    font-size: 15px;
}

/* 768 is the limit for .col-md- classes */
@media only screen and (max-width: 768px) {
    .chronologie {
        text-align: center;
    }
}
.personal {
    padding-left: 60px;
}
.category {
    text-align: center;
    font-style: oblique;
}
#skills-languages {
    border-left: 1px double #ddd;
    padding-right: 5px;
    padding-left: 5px;
}
#skills-languages h3 {
    padding-top: 10px;
    font-size: 24px;
}
.list-group>li.list-group-item {
    font-size: 115%;
}
@media only screen and (max-width: 1000px) {
    .list-group>li.list-group-item {
        font-size: 14px;
    }
    
    #skills-languages h3 {
        font-size: 20px;
    }
}
.list-group-item {
    text-align: center;
}
.progress {
    height: 10px;
    margin: 18px 25px;
}
.progress-bar {
    height: 10px;
    color: #980004;
}
.description_francais {
    font-style: italic;
}
div.right {
    display: flex;
    justify-content: flex-end;
}
.col-2 right {
    border-block-color: grey;
    border-style: solid;
    border: 20px;
}

/* to add extra space above 'Skills'
 * no longer looks needed though
#skills-languages #skills{
    padding-top: 30px;
}
 */
#skills-languages h3 {
    padding-top: 10px;
}
body {
    padding-top: 13px;
}
div.job>p {
    margin-bottom: 5px;
}
h2.title {
    width: 100%;
    text-align: left;
    margin-top: 2px;
    margin-bottom: 1px;
    font-weight: 500;
    margin-left: 30px;
}
.larger {
    font-size: 20px;
    font-weight: 700;
}
.normal {
    font-size: 1rem;
}
.smaller {
    font-size: 1rem;
}
p {
    text-indent: 20px;
}
.neutral {
    font-weight: normal;
    font-size: 16px;
}
.shiftright {
    text-indent: 20px;
}
div.exp>div {
    padding-bottom: 10px;
}